<h2 class="text-xl font-bold mb-4">Settings</h2>
<div class="bg-white p-4 shadow rounded">
  <!-- Tab Navigation -->
  <div class="flex border-b mb-4">
    <button
      *ngFor="let tab of settingsTabs; let i = index"
      class="px-4 py-2 text-sm font-medium"
      [class.border-b-2]="activeTab === i"
      [class.border-[#892de1]]="activeTab === i"
      [class.text-[#892de1]]="activeTab === i"
      (click)="activeTab = i"
    >
      {{ tab }}
    </button>
  </div>

  <!-- General Tab -->
  <div *ngIf="activeTab === 0" class="space-y-6">
    <div *ngIf="currentUser" class="bg-white rounded-lg p-6 shadow">
      <div class="flex items-center mb-6">
        <div class="relative">
          <img
            [src]="
              currentUser.profile_picture || 'assets/images/default_profile.png'
            "
            [alt]="
              currentUser.first_name
                ? currentUser.first_name + '\'s Profile Picture'
                : 'Profile Picture'
            "
            class="w-24 h-24 rounded-full object-cover"
            (error)="onPhotoLoad($event)"
          />
        </div>
      </div>
      <div class="ml-4">
        <button
          *ngIf="!editFields['profile_picture']"
          (click)="toggleEdit('profile_picture')"
          class="text-sm text-[#892de1] hover:text-[#6b1bb3]"
        >
          Change Photo URL
        </button>
        <div *ngIf="editFields['profile_picture']" class="flex flex-col">
          <div class="flex items-center mt-2">
            <input
              type="url"
              [formControl]="profilePictureControl"
              placeholder="Enter image URL"
              class="p-2 border rounded-md flex-grow"
            />
            <button
              (click)="updateField('profile_picture')"
              class="ml-2 px-4 py-2 bg-[#892de1] text-white rounded-md hover:bg-[#6b1bb3]"
              [disabled]="profilePictureControl.invalid"
            >
              Save
            </button>
            <button
              (click)="toggleEdit('profile_picture')"
              class="ml-2 text-sm text-gray-600 hover:text-gray-800"
            >
              Cancel
            </button>
          </div>
          <div
            *ngIf="
              profilePictureControl.invalid && profilePictureControl.touched
            "
            class="text-red-500 text-sm mt-1"
          >
            Please enter a valid image URL (must start with http:// or https://)
          </div>
        </div>
      </div>

      <form [formGroup]="profileForm" class="space-y-4">
        <!-- Email (Read-only) -->
        <div class="flex flex-col">
          <label class="text-sm font-medium text-gray-700">Email</label>
          <input
            type="text"
            [value]="currentUser.email || ''"
            class="mt-1 p-2 border rounded-md bg-gray-100 cursor-not-allowed"
            disabled
          />
        </div>

        <!-- First Name -->
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <label class="text-sm font-medium text-gray-700">First Name</label>
            <button
              *ngIf="isFieldEditable('first_name')"
              (click)="toggleEdit('first_name')"
              class="text-sm text-[#892de1] hover:text-[#6b1bb3]"
            >
              {{ editFields["first_name"] ? "Cancel" : "Edit" }}
            </button>
          </div>
          <div class="flex mt-1">
            <input
              type="text"
              formControlName="first_name"
              class="p-2 border rounded-md flex-grow"
              [ngClass]="{
                'bg-gray-100 cursor-not-allowed': !editFields['first_name']
              }"
            />
            <button
              *ngIf="editFields['first_name']"
              (click)="updateField('first_name')"
              class="ml-2 px-4 py-2 bg-[#892de1] text-white rounded-md hover:bg-[#6b1bb3]"
              [disabled]="profileForm.get('first_name')?.invalid"
            >
              Save
            </button>
          </div>
          <div
            *ngIf="
              profileForm.get('first_name')?.invalid &&
              profileForm.get('first_name')?.touched
            "
            class="text-red-500 text-sm"
          >
            First name is required.
          </div>
        </div>

        <!-- Last Name -->
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <label class="text-sm font-medium text-gray-700">Last Name</label>
            <button
              *ngIf="isFieldEditable('last_name')"
              (click)="toggleEdit('last_name')"
              class="text-sm text-[#892de1] hover:text-[#6b1bb3]"
            >
              {{ editFields["last_name"] ? "Cancel" : "Edit" }}
            </button>
          </div>
          <div class="flex mt-1">
            <input
              type="text"
              formControlName="last_name"
              class="p-2 border rounded-md flex-grow"
              [ngClass]="{
                'bg-gray-100 cursor-not-allowed': !editFields['last_name']
              }"
            />
            <button
              *ngIf="editFields['last_name']"
              (click)="updateField('last_name')"
              class="ml-2 px-4 py-2 bg-[#892de1] text-white rounded-md hover:bg-[#6b1bb3]"
              [disabled]="profileForm.get('last_name')?.invalid"
            >
              Save
            </button>
          </div>
          <div
            *ngIf="
              profileForm.get('last_name')?.invalid &&
              profileForm.get('last_name')?.touched
            "
            class="text-red-500 text-sm"
          >
            Last name is required.
          </div>
        </div>

        <!-- Password -->
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <label class="text-sm font-medium text-gray-700">Password</label>
            <button
              *ngIf="isFieldEditable('password')"
              (click)="toggleEdit('password')"
              class="text-sm text-[#892de1] hover:text-[#6b1bb3]"
            >
              {{ editFields["password"] ? "Cancel" : "Change Password" }}
            </button>
          </div>
          <div class="flex mt-1" *ngIf="editFields['password']">
            <input
              type="password"
              formControlName="password"
              class="p-2 border rounded-md flex-grow"
              placeholder="Enter new password"
            />
            <button
              (click)="updateField('password')"
              class="ml-2 px-4 py-2 bg-[#892de1] text-white rounded-md hover:bg-[#6b1bb3]"
              [disabled]="profileForm.get('password')?.invalid"
            >
              Save
            </button>
          </div>
          <div
            *ngIf="
              profileForm.get('password')?.invalid &&
              profileForm.get('password')?.touched
            "
            class="text-red-500 text-sm"
          >
            Password must be at least 8 characters.
          </div>
        </div>

        <!-- Bio -->
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <label class="text-sm font-medium text-gray-700">Bio</label>
            <button
              *ngIf="isFieldEditable('bio')"
              (click)="toggleEdit('bio')"
              class="text-sm text-[#892de1] hover:text-[#6b1bb3]"
            >
              {{ editFields["bio"] ? "Cancel" : "Edit" }}
            </button>
          </div>
          <div class="flex mt-1">
            <textarea
              formControlName="bio"
              class="p-2 border rounded-md flex-grow"
              [ngClass]="{
                'bg-gray-100 cursor-not-allowed': !editFields['bio']
              }"
              rows="3"
            ></textarea>
            <button
              *ngIf="editFields['bio']"
              (click)="updateField('bio')"
              class="ml-2 px-4 py-2 bg-[#892de1] text-white rounded-md hover:bg-[#6b1bb3]"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="!currentUser" class="text-center py-8 text-gray-600">
      Please log in to view and edit your profile information.
    </div>
  </div>

  <!-- User Permissions Tab -->
  <div *ngIf="activeTab === 1">
    <div class="mt-4">
      <label class="block mb-2 font-bold">Add New Admin</label>
      <div class="flex gap-2">
        <input
          type="email"
          [(ngModel)]="newAdminEmail"
          placeholder="Enter admin email"
          class="w-full border rounded p-2"
        />
        <button
          class="px-4 py-2 bg-[#892de1] text-white rounded hover:bg-[#6b1bb3]"
          (click)="addAdmin(newAdminEmail)"
        >
          Add Admin
        </button>
      </div>
    </div>

    <div class="mt-4 overflow-x-auto">
      <table class="min-w-full bg-white font-bold">
        <caption class="text-lg font-medium text-gray-900 mb-4 text-left">
          Admin Users
        </caption>
        <thead>
          <tr class="bg-gray-100">
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Name
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Email
            </th>
            <th
              class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Role
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let admin of adminUsers">
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm flex font-medium text-gray-900">
                <img
                  class="w-10 h-10 rounded-full"
                  [src]="
                    admin.profile_picture || 'assets/images/default_profile.png'
                  "
                  alt="Admin Profile Picture"
                />
                <p class="my-auto ml-1 text-sm font-medium text-gray-900">
                  {{ admin.first_name }} {{ admin.last_name }}
                </p>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500">{{ admin.email }}</div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              <div class="text-sm text-gray-500">{{ admin.role }}</div>
            </td>
          </tr>
          <tr *ngIf="adminUsers.length === 0">
            <td colspan="3" class="px-6 py-4 text-center text-sm text-gray-500">
              No admin users found.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Course Policies Tab -->
  <div *ngIf="activeTab === 2">
    <form [formGroup]="generalSettingsForm" (ngSubmit)="saveGeneralSettings()">
      <p class="font-bold mb-2">Approval Workflow</p>
      <textarea
        formControlName="approvalWorkflow"
        class="w-full border rounded p-2 mb-4"
        placeholder="Enter approval workflow"
      ></textarea>
      <p class="font-bold mb-2">Rating Settings</p>
      <input
        type="number"
        formControlName="ratingThreshold"
        class="w-full border rounded p-2 mb-4"
        placeholder="Enter rating threshold"
      />
      <div
        *ngIf="
          generalSettingsForm.get('ratingThreshold')?.invalid &&
          generalSettingsForm.get('ratingThreshold')?.touched
        "
        class="text-red-500 text-sm"
      >
        Rating must be between 0 and 5.
      </div>
      <button
        type="submit"
        class="bg-[#892de1] text-white py-2 px-4 rounded hover:bg-[#6b1bb3]"
        [disabled]="generalSettingsForm.invalid"
      >
        Save Changes
      </button>
    </form>
  </div>

  <!-- Security Tab -->
  <div *ngIf="activeTab === 3">
    <form [formGroup]="generalSettingsForm">
      <p class="font-bold mb-2">2FA Enforcement</p>
      <input type="checkbox" formControlName="twoFactorAuth" class="mb-4" />
      Enable 2FA
      <p class="font-bold mb-2">Session Timeout</p>
      <input
        type="number"
        formControlName="sessionTimeout"
        class="w-full border rounded p-2 mb-4"
        placeholder="Enter session timeout (minutes)"
      />
      <div
        *ngIf="
          generalSettingsForm.get('sessionTimeout')?.invalid &&
          generalSettingsForm.get('sessionTimeout')?.touched
        "
        class="text-red-500 text-sm"
      >
        Session timeout must be a positive number.
      </div>
      <button
        type="button"
        (click)="saveGeneralSettings()"
        class="bg-[#892de1] text-white py-2 px-4 rounded hover:bg-[#6b1bb3]"
        [disabled]="generalSettingsForm.invalid"
      >
        Save Changes
      </button>
    </form>
  </div>

  <!-- Customization Tab -->
  <div *ngIf="activeTab === 4">
    <form [formGroup]="generalSettingsForm">
      <p class="font-bold mb-2">Theme</p>
      <select formControlName="theme" class="w-full border rounded p-2 mb-4">
        <option *ngFor="let theme of themes" [value]="theme">
          {{ theme }}
        </option>
      </select>
      <div
        *ngIf="
          generalSettingsForm.get('theme')?.invalid &&
          generalSettingsForm.get('theme')?.touched
        "
        class="text-red-500 text-sm"
      >
        Theme is required.
      </div>
      <label class="block mb-2 font-bold">SEO Title</label>
      <input
        type="text"
        formControlName="seoTitle"
        class="w-full border rounded p-2 mb-4"
        placeholder="Enter SEO title"
      />
      <button
        type="button"
        (click)="saveGeneralSettings()"
        class="bg-[#892de1] text-white py-2 px-4 rounded hover:bg-[#6b1bb3]"
        [disabled]="generalSettingsForm.invalid"
      >
        Save Changes
      </button>
    </form>
  </div>
</div>
